@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #1F2937;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 1 auto;
    margin-bottom: 40px;
}

header{
    border-bottom: 1px solid #E1E5EA;
}

.header__container{
    max-width: 1400px;
    padding: 0px 15px;
    width: 100%;
    height: 65px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo__title{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-left: 8px;
}


.header__btn{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 11px 12px;
    border: 0px solid;
    border-radius: 10px;
    background-color: #3C83F6;
    margin-left: 8px;
    text-decoration: none;
}

.header__btn:hover{
    cursor: pointer;
    background-color: #4a8cf7;
}

/*--------------------------main------------------------------------------*/

.container{
    max-width: 1400px;
    padding: 0px 15px;
    width: 100%;
    margin: 0 auto;
}

.main__title{
    padding-top: 100px;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 8px;
}

.main__subtitle{
    color: #79879A;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
}

.options{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
}

.option{
    max-width: 440px;
    width: 100%;
    border: 1px solid #E1E5EA;
    border-radius: 12px;
    padding: 25px;
}

.option__img{
    margin-bottom: 18px;
}

.option__title{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 6px;
}

.option__subtitle{
    color: #79879A;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
}

.option__btn{
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 12px 0px;
    background-color: #3C83F6;
    border-radius: 10px;
    text-decoration: none;
    display: block;
}

.option__btn:hover{
    background-color: #4a8cf7;
    cursor: pointer;
}

/*--------------------------footer----------------------------------------*/

footer{
    height: 65px;
    background-color: #253246;
}

.footer__text{
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 22px;
}
