@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #1F2937;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1 1 auto;
    margin-bottom: 40px;
}

header{
    border-bottom: 1px solid #E1E5EA;
}

.header__container{
    max-width: 1400px;
    padding: 0px 15px;
    width: 100%;
    height: 65px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo__title{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-left: 8px;
}

.header__buttons{
    display: flex;
}

.sign_in_btn{
    font-size: 14px;
    font-weight: 400;
    padding: 11px 12px;
    border: 0px solid;
    border-radius: 10px;
}

.sign_in_btn:hover{
    cursor: pointer;
    background-color: #f2f2f2;
}

.sign_up_btn{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 11px 12px;
    border: 0px solid;
    border-radius: 10px;
    background-color: #3C83F6;
    margin-left: 8px;
}

.sign_up_btn:hover{
    cursor: pointer;
    background-color: #4a8cf7;
}

/*--------------------------main------------------------------------------*/

.container{
    max-width: 1400px;
    padding: 0px 15px;
    width: 100%;
    margin: 0 auto;
}

.main__title{
    padding-top: 40px;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.main__subtitle{
    font-size: 16px;
    line-height: 24px;
    color: #79879A;
    font-weight: 300;
    margin-bottom: 40px;
}

.content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hall_form{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order_form{
    max-width: 434px;
}

.form{
    width: 100%;
    padding: 25px;
    border: 1px solid #E1E5EA;
    border-radius: 12px;
}

.hall_form__text{
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 62px;
}

.hall{
    width: 100%;
}

.hall__element{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.hall__element:last-child{
    margin-bottom: 32px;
}

.row_number{
    width: 32px;
    height: 32px;
    font-weight: 400;
    font-size: 14px;
    color: #79879A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    gap: 8px;
}

.row__seat{
    width: 32px;
    height: 32px;
    border: 2px solid #E1E5EA;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.row__seat:hover{
    cursor: pointer;
}

.hall_form__description{
    display: flex;
    gap: 24px;
}

.description__elem{
    display: flex;
    align-items: center;
}

.description__color{
    width: 16px;
    height: 16px;
    border: 2px solid #E1E5EA;
    border-radius: 4px;
}

.description__text{
    margin-left: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.booked{
    border: 0px;
    background-color: #F3F5F6;
    color: #79879A;
}

.booked:hover{
    cursor: not-allowed;
}

.selected{
    border: 0px;
    background-color: #3C83F6;
    color: #fff;
}

.description__color.booked:hover{
    cursor: default;
}

.order_form__title{
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 24px;
}

.no_seats_text{
    text-align: center;
    color: #79879A;
    font-size: 16px;
}

.order_from__content{
    width: 100%;
}

.form_subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.selected_seats__container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E1E5EA;
    margin-bottom: 20px;
}

.selected_seat{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding: 5px 11px;
    background-color: #F3F5F6;
    border-radius: 9999px;
}

.form__price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.price__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.form__btn{
    text-align: center;
    font-weight: 400;
    color: #fff;
    font-size: 14px;
    padding: 14px 0px;
    background-color: #3C83F6;
    border-radius: 10px;
}

.form__btn:hover{
    cursor: pointer;
    background-color: #4a8cf7;
}

/*--------------------------footer----------------------------------------*/

footer{
    height: 65px;
    background-color: #253246;
}

.footer__text{
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 22px;
}


